{% extends 'time_manage/base.html' %}
{% block title %}instagramupload.html\time_manage{% endblock %}
{% block body %} 
    <div class="text-center">
        <h1>[ {{time_info.time_date|date:"M d일 (D)"}} / {{time_info.time_start|date:"H:i"}}~{{time_info.time_end|time:"H:i"}} ]</h1>
        <div>
            {% for music_info in time_info.music_set.all %}
                <p>
                    {{music_info.music_composer}}
                </p>
                <p>
                    {{music_info.music_title}}
                </p>
                <br>
            {% endfor %}
        </div>
        <button class="btn btn-secondary btn-sm" onclick="location.href='/time_manage/{{time_info.time_unique_id}}'">타임 관리로 돌아가기</button>
    </div>
{% endblock %}