{% extends 'time_manage/base.html' %}
{% block title %}time_manage/list.html{% endblock %}
{% block body %}
    <h1>타임 목록</h1>
    <form method="post" action="#">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="date" class="form-control" placeholder='날짜 필터'aria-label="date filter" aria-describedby="filter_time_by_date_submit" name="_time_date">
            <button class="btn btn-outline-secondary" type="submit" id="filter_time_by_date_submit" name="filter_time_by_date" value="filter_time_by_date">필터</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <!--<th scope="col">#</th>-->
                <th scope="col">삭제</th>
                <th scope="col">날짜</th>
                <th scope="col">시작 시간</th>
                <th scope="col">종료 시간</th>
                <th scope="col">운영자</th>
                <th scope="col">편집</th>
            </tr>
        </thead>
        <tbody>
            {% for ti in time_info %}
                    <tr>
                        <!--<th scope="row">{{ti.id}}</th>-->
                        <td><a class="btn btn-outline-danger btn-sm" href="/time_manage/delete_time_confirm/{{ti.time_unique_id}}">삭제</a></td>
                        <td>{{ti.time_date}}</td>
                        <td>{{ti.time_start}}</td>
                        <td>{{ti.time_end}}</td>
                        <td>{{ti.time_manager}}</td>
                        <td><a class="btn btn-outline-secondary btn-sm" href="/time_manage/{{ti.time_unique_id}}">edit</a></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}