{% extends 'time_manage/base.html' %}
{% block title %}manage.html\time_manage{% endblock %}

{% block body %}
    <button class="btn btn-secondary btn-sm" onclick="location.href='/time_manage/list'">&#60;&#60;목록으로 돌아가기</button>
    <h4>{{time_info}}</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">신청곡</th>
                <th scope="col">음원 종류</th>
                <th scope="col">음반 번호</th>
                <th scope="col">작곡가</th>
                <th scope="col">제목</th>
                <th scope="col">오케스트라</th>
                <th scope="col">지휘자</th>
                <th scope="col">삭제</th>
                <th scope="col">판서 띄우기</th>
                <!--<th scope="col">연주자</th>-->
            </tr>
        </thead>
        <tbody>
            <script>
                let music_idx = 0;
            </script>
            {% for music in time_info.music_set.all %}
                <tr>
                    <th scope="row" id="{{music.id}}"></th>
                    <td>
                        {% if music.music_request %}
                            O
                        {% else %}
                            X
                        {% endif %}
                    </td>
                    <td>{{music.music_source}}</td>
                    <td>{{music.music_label_id}}</td>
                    <td>{{music.music_composer}}</td>
                    <td>{{music.music_title}}</td>
                    <td>{{music.music_orchestra}}</td>
                    <td>{{music.music_conductor}}</td>
                    <td><a href="/time_manage/{{time_info.time_unique_id}}/delete/{{music.id}}">삭제하기</a></td>
                    <td><a href="/time_manage/{{time_info.time_unique_id}}/update_tv/{{music.id}}">판서하기!</a></td>
                </tr>
                <script>
                    music_idx++;
                    document.getElementById({{music.id}}).innerHTML = music_idx;
                </script>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="location.href='/time_manage/{{time_info.time_unique_id}}/insta_upload'">인스타그램 스토리 생성</button>

    <div>
        <form method='post' action="#">
            {% csrf_token %}
            {{music_add_form.as_p}}
            <button type="submit" class="btn btn-primary" name="add_music" value="add_music">음악 추가!</button>
        </form>
    </div>
{% endblock %}