{% extends 'tv_display/base.html' %}
{% block title %}
    tv_display/tv
{% endblock %}

{% block body %}
    <div style="background-color:black;">
        <div id="outline_container" style="width:100vw;height:100vh;background-color:black;color:white;">
            <div id="text_container" class="text-center align-middle" style="background-color:black;">
                <div id="music_composer" style=""></div>
                <div id="music_title" style=""></div>
                <div id="music_orchestra" style=""></div>
                <div id="music_conductor" style=""></div>
                <div id="music_player" style=""></div>
            </div>
        </div>
    </div>
{% endblock %} 
{% block script %}
<script>
    const TvSocket = new WebSocket(`ws://${window.location.host}/ws/tv_display/`);
    TvSocket.onopen = function (e) {
        TvSocket.send(JSON.stringify({"message" : "SSSending message to server"}));
    };
    let total_height = 0;
    let composer_font_size = 5;
    let title_font_size = 4;
    let conductor_font_size = 2.5;
    let orchestra_font_size = 2.5;
    let player_font_size = 2.5;
    let player_max_length = 0;
    let player_line_count = 0;
    let padding_top = 0;
    function get_min(a, b){
        if(a > b){
            return b;
        } else{
            return a;
        }
    }
    function get_max(a, b){
        if(a > b){
            return a;
        } else{
            return b;
        }
    }
    TvSocket.onmessage = function (e) {
        console.log(e.data);
        const data = JSON.parse(e.data);
        console.log(data);
        const info = data["info"]
        console.log(info)
        const update_type = data["update_type"];
        console.log("update_type is..." + update_type)
        if(update_type == "music"){
            console.log("update type is music...updating music...")

            document.getElementById('music_composer').innerText = info["music_composer"];
            document.getElementById('music_composer').style.marginBottom = "5vw";

            document.getElementById('music_title').innerText = info["music_title"];
            document.getElementById('music_title').style.marginBottom = "2vw";

            if(info["music_orchestra"] != '해당 없음'){
                document.getElementById('music_orchestra').innerText = info["music_orchestra"];
            } else{
                document.getElementById('music_orchestra').innerText = '';
            }

            if(info["music_conductor"] != '해당 없음'){
                document.getElementById('music_conductor').innerText = info["music_conductor"];
            } else{
                document.getElementById('music_conductor').innerText = '';
            }

            if(info["music_player"] != '해당 없음'){
                let player_list = String(info["music_player"]).split(",");
                console.log("player_list = " + player_list);
                let i = 0;
                let player_html="";
                for(i = 0; i < player_list.length; i+=2){
                    //if(i % 2 == 0){
                        //player_html += player_list[i];
                        //if(i < player_list.length - 1){
                            //player_html += ",  ";
                        //}
                    //} else{
                        //player_html += player_list[i] + "<br>";
                        //player_max_length = get_max(player_max_length, String(player_list[i-1] + ",  " + player_list[i]).length);
                    //}
                    if(typeof player_list[i+1] == "undefined" || player_list[i+1] == null){
                        player_html += player_list[i];
                        player_max_length = get_max(player_max_length, String(player_list[i]).length);
                    } else{
                        player_html += player_list[i] + ",  " + player_list[i+1]+ "<br>";
                        player_max_length = get_max(player_max_length, String(player_list[i] + ",  " + player_list[i+1]).length);
                    }
                }
                console.log("player_html = " + player_html);
                document.getElementById('music_player').innerHTML = player_html;
            } else{
                document.getElementById('music_player').innerText = '';
            }

            composer_font_size = get_min(70/(info["music_composer"].length + 1), 5);
            title_font_size = get_min(70/(info["music_title"].length + 1), 4);
            conductor_font_size = get_min(70/(info["music_conductor"].length + 1), 2.5);
            orchestra_font_size = get_min(70/(info["music_conductor"].length + 1), 2.5);
            player_font_size = get_min(70/player_max_length, 2.5);

            document.getElementById('music_composer').style.fontSize = composer_font_size + "vw";
            document.getElementById('music_title').style.fontSize = title_font_size + "vw";
            document.getElementById('music_orchestra').style.fontSize = orchestra_font_size + "vw";
            document.getElementById('music_conductor').style.fontSize = conductor_font_size + "vw";
            document.getElementById('music_player').style.fontSize = player_font_size + "vw";

            total_height = (document.getElementById("text_container").offsetHeight/window.innerHeight) * 100;
            padding_top = 50 - (total_height/2);

            console.log("composer_font_size = " + composer_font_size);
            console.log("title_font_size = " + title_font_size);
            console.log("conductor_font_size = " + conductor_font_size);
            console.log("orchestra_font_size = " + orchestra_font_size);
            console.log("player_font_size = " + player_font_size);
            console.log("total_height = " + total_height);
            console.log("padding_top = " + padding_top);
            document.getElementById('outline_container').style.paddingTop = padding_top + "vh";
        } else if(update_type == "breaktime"){
            console.log("update type is breaktime...updating breaktime...")
            document.getElementById('music_composer').innerText = '기기 휴식'
            document.getElementById('music_title').innerText = info["time_start"] + " ~ " + info["time_end"];
            document.getElementById('music_orchestra').innerText = '';
            document.getElementById('music_conductor').innerText = '';
            document.getElementById('music_player').innerHTML = '';
        }
    };
    TvSocket.onclose = function (e) {
        console.error("Tv socket closed");
    }
</script>
{% endblock %}