{% extends 'tv_display/base.html' %}
{% block title %}
    tv_display/tv
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 id="music_composer"></h1>
        <h2 id="music_title"></h2>
        <h4 id="music_conductor"></h4>
        <h3 id="music_orchestra"></h3>
    </div>
{% endblock %} 
{% block script %}
<script>
    const TvSocket = new WebSocket(`ws://${window.location.host}/ws/tv_display/`);
    TvSocket.onopen = function (e) {
        TvSocket.send(JSON.stringify({"message" : "SSSending message to server"}));
    };
    TvSocket.onmessage = function (e) {
        console.log(e.data);
        const data = JSON.parse(e.data);
        console.log(data);
        const info = data["info"]
        console.log(info)
        const update_type = data["update_type"];
        console.log("update_type is..." + update_type)
        if(update_type == "music"){
            console.log("update type is music...updating music...")
            document.getElementById('music_composer').innerText = info["music_composer"];
            document.getElementById('music_title').innerText = info["music_title"];
            if(info["music_orchestra"] != '해당 없음'){
                document.getElementById('music_orchestra').innerText = info["music_orchestra"];
            } else{
                document.getElementById('music_orchestra').innerText = '';
            }
            if(info["music_conductor"] != '해당 없음'){
                document.getElementById('music_conductor').innerText = info["music_conductor"];
            } else{
                document.getElementById('music_conductor').innerText = '';
            }
        } else if(update_type == "breaktime"){
            console.log("update type is breaktime...updating breaktime...")
            document.getElementById('music_composer').innerText = '기기 휴식'
            document.getElementById('music_title').innerText = info["time_start"] + " ~ " + info["time_end"];
            document.getElementById('music_orchestra').innerText = '';
            document.getElementById('music_conductor').innerText = '';
        }
    };
    TvSocket.onclose = function (e) {
        console.error("Tv socket closed");
    }
</script>
{% endblock %}