{% extends 'tv_display/base.html' %}
{% block title %}
    tv_display/tv
{% endblock %}

{% block body %}
    <div class="container" id="outline_container" style="width:100vw;height:100vh;">
        <div class="text-center">
            <div id="music_composer" style=""></div>
            <div id="music_title" style=""></div>
            <div id="music_conductor" style=""></div>
            <div id="music_orchestra" style=""></div>
        </div>
    </div>
{% endblock %} 
{% block script %}
<script>
    const TvSocket = new WebSocket(`ws://${window.location.host}/ws/tv_display/`);
    TvSocket.onopen = function (e) {
        TvSocket.send(JSON.stringify({"message" : "SSSending message to server"}));
    };
    let total_height = 0;
    let composer_font_size = 0;
    let title_font_size = 0;
    let conductor_font_size = 0;
    let orchestra_font_size = 0;
    let padding_top = 0;
    function get_min(a, b){
        if(a > b){
            return b;
        } else{
            return a;
        }
    }
    TvSocket.onmessage = function (e) {
        console.log(e.data);
        const data = JSON.parse(e.data);
        console.log(data);
        const info = data["info"]
        console.log(info)
        const update_type = data["update_type"];
        console.log("update_type is..." + update_type)
        if(update_type == "music"){
            console.log("update type is music...updating music...")

            composer_font_size = get_min(70/(info["music_composer"].length + 1), 5);
            title_font_size = get_min(70/(info["music_title"].length + 1), 2.5);
            conductor_font_size = get_min(70/(info["music_conductor"].length + 1), 2.5);
            orchestra_font_size = get_min(70/(info["music_conductor"].length + 1), 2.5);
            total_height = composer_font_size + title_font_size + conductor_font_size + orchestra_font_size + 5;
            padding_top = (50 - (total_height/window.innerWidth*window.innerHeight)) / 2;
            console.log(padding_top);
            document.getElementById('outline_container').style.paddingTop = padding_top + "vh";

            document.getElementById('music_composer').innerText = info["music_composer"];
            document.getElementById('music_composer').style.fontSize = composer_font_size + "vw";
            document.getElementById('music_composer').style.marginBottom = "5vw";
            total_height += Math.max(70/(info["music_composer"].length), 10);

            document.getElementById('music_title').innerText = info["music_title"];
            document.getElementById('music_title').style.fontSize = title_font_size + "vw";

            if(info["music_orchestra"] != '해당 없음'){
                document.getElementById('music_orchestra').innerText = info["music_orchestra"];
                document.getElementById('music_orchestra').style.fontSize = orchestra_font_size + "vw";
            } else{
                document.getElementById('music_orchestra').innerText = '';
            }

            if(info["music_conductor"] != '해당 없음'){
                document.getElementById('music_conductor').innerText = info["music_conductor"];
                document.getElementById('music_conductor').style.fontSize = conductor_font_size + "vw";
            } else{
                document.getElementById('music_conductor').innerText = '';
            }
        } else if(update_type == "breaktime"){
            console.log("update type is breaktime...updating breaktime...")
            document.getElementById('music_composer').innerText = '기기 휴식'
            document.getElementById('music_title').innerText = info["time_start"] + " ~ " + info["time_end"];
            document.getElementById('music_orchestra').innerText = '';
            document.getElementById('music_conductor').innerText = '';
        }
    };
    TvSocket.onclose = function (e) {
        console.error("Tv socket closed");
    }
</script>
{% endblock %}